<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cthulhugochi</title>
  </head>

  <body>

  <h3>Від шаленого голоду <%= name %> забуває про все хороше що ви для нього робили і знищує світ нікчемних людішек разом з вами</h3>

    <img src="https://static.comicvine.com/uploads/original/11114/111140897/3681128-0533980934-77607.jpg" alt="Cthulhu" style="min-width: 500px; max-height: 500px">
    </p>
  
  </body>
</html>