<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cthulhugochi</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>

  

  <body style="margin-top:5%">
    <img src="https://i.pinimg.com/736x/52/d2/5d/52d25d17069ad9ebd87329029be66b4d.jpg" alt="Cthulhu" width="600" height="350">
      <div id="container">
        <form method="post", action="/initialize">
          <input name="name" type="text">
          <input type="submit" value="Як назвеш свого всемогутнього Ктулху?">
        </form>
      </div>

  </body>
</html>